---
import { formatDate } from "../../lib/helpers";

interface Props {
  title: string;
  date: Date;
  id: string;
}

const { title, date, id } = Astro.props;
---

<li
  class="list-none w-full text-neutral-100 hover:text-neutral-400 ease-in-out transition-colors border-b-neutral-400 border-dashed border-b-1 py-4"
>
  <a
    class="text-sm md:text-base decoration-none flex flex-col md:flex-row md:items-center md:justify-between gap-2"
    href={`/blog/${id}`}
  >
    <p class="font-medium text-base md:text-lg">
      {title}
    </p>
    <time
      class="text-sm text-neutral-400 tabular-nums"
      data-date={date.toISOString()}
      datetime={date.toISOString()}
    >
      {formatDate(date)}
    </time>
  </a>
</li>
